body{
    background-image: url("pics/bus.png");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
* {
  box-sizing: border-box;
}
h1
{
font-family: serif;
color:white;
}
p
{
    font-size:20px;;
}
input[type=button]{
background-color: rosybrown;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration:underline;
  margin: 4px 2px;
  cursor: pointer;
    transition: box-shadow .3s;
}
input[type=button]:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.9); 
}
#div1
{
    
}
.nav-item
{
    font-size: 15px;
}
.rcorners1 {
  border-radius: 25px;
  background-color:dimgray;
  padding: 20px;
  margin-bottom: 50px;
  transition: box-shadow .3s;
}
body{
    background-color: cornsilk;
}
.rcorners1:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.9); 
}
a{
    color: white;
    font-size: 18px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: dimgrey;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    transition: box-shadow .3s;
}
.button:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.9);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
    
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
    
}

.button:hover span {
  padding-right: 25px;
    
    
}

.button:hover span:after {
  opacity: 1;
  right: 0;
    
}
